[package]
name = "ironbar"
version = "0.10.0"
edition = "2021"
license = "MIT"
description = "Customisable GTK Layer Shell wlroots/sway bar"

[features]
default = [
    "http",
    "config+all",
    "clipboard",
    "clock",
    "music+all",
    "sys_info",
    "tray",
    "workspaces+all"
]

http = ["dep:reqwest"]

"config+all" = ["config+json", "config+yaml", "config+toml", "config+corn"]
"config+json" = ["universal-config/json"]
"config+yaml" = ["universal-config/yaml"]
"config+toml" = ["universal-config/toml"]
"config+corn" = ["universal-config/corn"]

clipboard = ["nix"]

clock = ["chrono"]

music = ["regex"]
"music+all" = ["music", "music+mpris", "music+mpd"]
"music+mpris" = ["music", "mpris"]
"music+mpd" = ["music", "mpd_client"]

sys_info = ["sysinfo", "regex"]

tray = ["stray"]

workspaces = ["futures-util"]
"workspaces+all" = ["workspaces", "workspaces+sway", "workspaces+hyprland"]
"workspaces+sway" = ["workspaces", "swayipc-async"]
"workspaces+hyprland" = ["workspaces", "hyprland"]

[dependencies]
# core
gtk = "0.17.0"
gtk-layer-shell = "0.6.0"
glib = "0.17.5"
tokio = { version = "1.21.2", features = ["macros", "rt-multi-thread", "time", "process", "sync", "io-util", "net"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.16", features = ["env-filter"] }
tracing-error = "0.2.0"
tracing-appender = "0.2.2"
strip-ansi-escapes = "0.1.1"
color-eyre = "0.6.2"
serde = { version = "1.0.141", features = ["derive"] }
indexmap = "1.9.1"
dirs = "5.0.0"
walkdir = "2.3.2"
notify = { version = "5.0.0", default-features = false }
wayland-client = "0.29.5"
wayland-protocols = { version = "0.29.5", features = ["unstable_protocols", "client"] }
smithay-client-toolkit = { version = "0.16.0", default-features = false, features = ["calloop"] }
universal-config = { version = "0.3.0", default_features = false }

lazy_static = "1.4.0"
async_once = "0.2.6"
cfg-if = "1.0.0"

# http
reqwest = { version = "0.11.14", optional = true }

# clipboard
nix = { version = "0.26.2", optional = true }

# clock
chrono = { version = "0.4.19", optional = true }

# music
mpd_client = { version = "1.0.0", optional = true }
mpris = { version = "2.0.0", optional = true }

# sys_info
sysinfo = { version = "0.28.4", optional = true }

# tray
stray = { version = "0.1.3", optional = true }

# workspaces
swayipc-async = { version = "2.0.1", optional = true }
hyprland = { version = "0.3.1", optional = true }
futures-util = { version = "0.3.21", optional = true }

# shared
regex = { version = "1.6.0", default-features = false, features = ["std"], optional = true } # music, sys_info
