[package]
name = "ironbar"
version = "0.14.0-pre"
edition = "2021"
license = "MIT"
description = "Customisable GTK Layer Shell wlroots/sway bar"
repository = "https://github.com/jakestanger/ironbar"
categories = ["gui"]
keywords = ["gtk", "bar", "wayland", "wlroots", "gtk-layer-shell"]

[features]
default = [
    "cli",
    "ipc",
    "http",
    "config+all",
    "clipboard",
    "clock",
    "music+all",
    "sys_info",
    "tray",
    "upower",
    "workspaces+all",
    "focused",
    "launcher"
]

cli = ["dep:clap", "ipc"]
ipc = ["dep:serde_json"]

http = ["dep:reqwest"]

"config+all" = [
  "config+json",
  "config+yaml",
  "config+toml",
  "config+corn",
  "config+ron",
]
"config+json" = ["universal-config/json"]
"config+yaml" = ["universal-config/yaml"]
"config+toml" = ["universal-config/toml"]
"config+corn" = ["universal-config/corn"]
"config+ron" = ["universal-config/ron"]

clipboard = ["nix"]

clock = ["chrono"]

focused = []

launcher = []

music = ["regex"]
"music+all" = ["music", "music+mpris", "music+mpd"]
"music+mpris" = ["music", "mpris"]
"music+mpd" = ["music", "mpd-utils"]

sys_info = ["sysinfo", "regex"]

tray = ["system-tray"]

upower = ["upower_dbus", "zbus", "futures-lite"]

workspaces = ["futures-util"]
"workspaces+all" = ["workspaces", "workspaces+sway", "workspaces+hyprland"]
"workspaces+sway" = ["workspaces", "swayipc-async"]
"workspaces+hyprland" = ["workspaces", "hyprland"]

[dependencies]
# core
gtk = "0.18.1"
gtk-layer-shell = "0.8.0"
glib = "0.18.5"
tokio = { version = "1.35.1", features = [
  "macros",
  "rt-multi-thread",
  "time",
  "process",
  "sync",
  "io-util",
  "net",
] }
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
tracing-error = "0.2.0"
tracing-appender = "0.2.3"
strip-ansi-escapes = "0.2.0"
color-eyre = "0.6.2"
serde = { version = "1.0.195", features = ["derive"] }
indexmap = "2.1.0"
dirs = "5.0.1"
walkdir = "2.4.0"
notify = { version = "6.1.1", default-features = false }
wayland-client = "0.31.1"
wayland-protocols = { version = "0.31.0", features = ["unstable", "client"] }
wayland-protocols-wlr = { version = "0.2.0", features = ["client"] }
smithay-client-toolkit = { version = "0.18.0", default-features = false, features = [
  "calloop",
] }
universal-config = { version = "0.4.3", default_features = false }
ctrlc = "3.4.2"
cfg-if = "1.0.0"

# cli
clap = { version = "4.4.14", optional = true, features = ["derive"] }

# ipc
serde_json = { version = "1.0.109", optional = true }

# http
reqwest = { version = "0.11.23", optional = true }

# clipboard
nix = { version = "0.27.1", optional = true, features = ["event"] }

# clock
chrono = { version = "0.4.31", optional = true, features = ["unstable-locales"] }

# music
mpd-utils = { version = "0.2.0", optional = true }
mpris = { version = "2.0.1", optional = true }

# sys_info
sysinfo = { version = "0.29.11", optional = true }

# tray
system-tray = { version = "0.1.4", optional = true }

# upower
upower_dbus = { version = "0.3.2", optional = true }
futures-lite = { version = "2.2.0", optional = true }
zbus = { version = "3.14.1", optional = true }

# workspaces
swayipc-async = { version = "2.0.1", optional = true }
hyprland = { version = "0.3.12", features = ["silent"], optional = true }
futures-util = { version = "0.3.30", optional = true }

# shared
regex = { version = "1.10.2", default-features = false, features = [
  "std",
], optional = true } # music, sys_info