* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Noto Sans Nerd Font, sans-serif;
    font-size: 16px;

    border: none;
}

#bar {
    border-top: 1px solid #424242;
}

.background, .container {
    background-color: #2d2d2d;
}

#workspaces .item {
    color: white;
    background-color: #2d2d2d;
    border-radius: 0;
}

#workspaces .item.focused {
    box-shadow: inset 0 -3px;
    background-color: #1c1c1c;
}

#workspaces *:not(.focused):hover {
    box-shadow: inset 0 -3px;
}

#launcher .item {
    border-radius: 0;
    background-color: #2d2d2d;
    margin-right: 4px;
}

#launcher .item:not(.focused):hover {
    background-color: #1c1c1c;
}

#launcher .open {
    border-bottom: 2px solid #6699cc;
}

#launcher .focused {
    color: white;
    background-color: #1c1c1c;
    border-bottom: 4px solid #6699cc;
}

#launcher .urgent {
    color: white;
    background-color: #8f0a0a;
}

#popup-launcher .popup-item {
    color: white;
    background-color: #2d2d2d;
    border-radius: 0;
}

#popup-launcher .popup-item:hover {
    background-color: #1c1c1c;
}

#popup-launcher .popup-item:not(:first-child) {
    border-top: 1px solid white;
}

#clock {
    color: white;
    background-color: #2d2d2d;
    font-weight: bold;
    margin-left: 5px;
}

#clock:hover {
    background-color: #1c1c1c;
}

#script {
    padding-left: 10px;
    color: white;
}

#sysinfo {
    margin-left: 10px;
    color: white;
}

#sysinfo #item {
    margin-left: 5px;
}

#tray {
    margin-left: 10px;
}

#tray .item {
    background-color: #2d2d2d;
}

#music {
    background-color: #2d2d2d;
    color: white;
}

.popup {
    background-color: #2d2d2d;
    border: 1px solid #424242;
}

#popup-clock {
    padding: 1em;
}

#calendar-clock {
    color: white;
    font-size: 2.5em;
    padding-bottom: 0.1em;
}

#calendar {
    background-color: #2d2d2d;
    color: white;
}

#calendar .header {
    padding-top: 1em;
    border-top: 1px solid #424242;
    font-size: 1.5em;
}

#calendar:selected {
    background-color: #6699cc;
}

#music:hover {
    background-color: #1c1c1c;
}

#popup-music {
    color: white;
    padding: 1em;
}

#popup-music #album-art {
    margin-right: 1em;
}

#popup-music #title .icon *, #popup-music #title .label {
    font-size: 1.7em;
}

#popup-music #controls * {
    border-radius: 0;
    background-color: #2d2d2d;
    color: white;
}

#popup-music #controls *:disabled {
    color: #424242;
}

#popup-music #volume > box:last-child label {
    margin-left: 6px;
}

#focused {
    color: white;
}

.power-menu {
    margin-left: 10px;
}

.power-menu #power-btn {
    color: white;
    background-color: #2d2d2d;
}

.power-menu #power-btn:hover {
    background-color: #1c1c1c;
}

.popup-power-menu {
    padding: 1em;
}

.popup-power-menu #header {
    color: white;
    font-size: 1.4em;
    border-bottom: 1px solid white;
    padding-bottom: 0.4em;
    margin-bottom: 0.8em;
}

.popup-power-menu .power-btn {
    color: white;
    background-color: #2d2d2d;
    border: 1px solid white;
    padding: 0.6em 1em;
}

.popup-power-menu .power-btn + .power-btn {
    margin-left: 1em;
}

.popup-power-menu .power-btn:hover {
    background-color: #1c1c1c;
}
