name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Install build deps
      run: sudo apt install libgtk-3-dev libgtk-layer-shell-dev
    
    - name: Build
      run: cargo build --verbose
      
    - name: Run clippy
      run: cargo clippy --verbose
