name: Build

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Install build deps
        run: sudo apt install libgtk-3-dev libgtk-layer-shell-dev

      - name: Check formatting
        run: cargo fmt --check

      - name: Clippy
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test



  build-nix:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: cachix/install-nix-action@v17
        with:
          install_url: https://nixos.org/nix/install
          extra_nix_config: |
            auto-optimise-store = true
            experimental-features = nix-command flakes

      - uses: cachix/cachix-action@v11
        with:
          name: jakestanger
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'

      - run: nix build --print-build-logs